[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
oauthlib = "~=2.0"
"markdown2" = "~=2.3"
bleach = "~=2.1"
pytz = "~=2017.3"
requests = "~=2.18"
Flask = "~=0.12"
Flask-RESTful = "~=0.3"
Flask-OAuthlib = "~=0.9"
SQLAlchemy = "~=1.2"
Flask-SQLAlchemy = "~=2.3"
Cython = "~=0.28.4"
gunicorn = "~=19.9.0"
python-dotenv = "~=0.9.1"
pyodbc = "~=4.0.23"
