# install with: pip install -r requirements.txt

# misc
pytz ~= 2017.3
requests ~= 2.18
Cython ~= 0.28.4
python-dotenv == 0.9.1

# flask server
flask ~= 0.12
flask_restful ~= 0.3
requests-oauthlib==1.1.0
flask_oauthlib ~= 0.9
gunicorn ~= 19.9.0

# database
sqlalchemy ~= 1.2
flask_sqlalchemy ~= 2.3
pyodbc ~= 4.0.23

# markdown helpers
markdown2 ~= 2.3
bleach ~= 2.1
