<!DOCTYPE html>

<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% if title %}{{ title }} - {% endif %}
        Computer Science Learning Center
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cslc_theme.css') }}">
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    {% block meta %}{% endblock %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-left btn btn-lg logo" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='images/logo-subsite-o-2.png') }}" alt="UNO logo" title="UNO logo">
                    <span>&nbsp;Computer Science Learning Center</span>
                </a>
            </div>
        </div>
        <div id="navbar-collapse" class="collapse navbar-collapse">
            <div class="container">
                <ul class="nav navbar-nav clearfix">
                    <li class="navBtn">
                        <a href="{{ url_for('status') }}"><span>Status</span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_superuser %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Admin <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('admin') }}">Admin Console</a></li>
                            <li><a href="{{ url_for('reports') }}">Reports</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Tutor <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('edit_tutors', id=user.id) }}">Edit User</a></li>
                            <li><a href="{{ url_for('view_tickets') }}">View Tickets</a></li>
                            <li><a href="{{ url_for('working_list') }}">Working Tutors</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li class="navBtn">
                        {% if user %}
                        <a href="{{ url_for('logout') }}"><span>Logout</span></a>
                        {% else %}
                        <a href="{{ url_for('login') }}"><span>Tutor Login</span></a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{{ content|safe }}{% endblock %}
</body>
</html>
