{% extends "edit.html" %}

{% set title = 'Claim/Close Ticket' %}
{% set formurl = url_for('save_close_ticket') %}

{% block form %}
<script src="{{ url_for('static', filename='js/course_picker.js') }}"></script>

<input type="hidden" id="id" name="id" value="{{ ticket.id }}">

<div class="formgroup">
    <label for="name">Name</label>
    <p id="name">{{ ticket.student_last_first }}</p>
    <label for="email">Email</label>
    <p id="email">{{ ticket.student_email }}</p>
</div>

{{ select('course_id', courses, title='Course', value=ticket.section.course_id) }}

<div class="formgroup">
    <label for="section_id">Section</label>
    <select id="section_id" name="section_id" class="form-control" required>
        <option value="">-</option>
        {% for course in courses %}
        <optgroup parent="{{ course.id }}" label="{{ course }}">
            {% for section in course.sections %}
            <option value="{{ section.id }}" {{ 'selected' if ticket.section_id == section.id else '' }}>
                {{ section }}
            </option>
            {% endfor %}
        <optgroup>
        {% endfor %}
    </select>
</div>

{{ input('assignment', title='Assignment Name', minlength='10', value=ticket.assignment) }}
{{ textarea('question', title='Specific Question', minlength='30', value=ticket.question) }}
{{ select('problem_type_id', problems, title='Problem Type', value=ticket.problem_type_id) }}

{{ select('tutor_id', tutors, title='Primary Tutor', value=ticket.tutor_id) }}
{{ select('assistant_tutor_id', tutors, title='Assistant Tutor', value=ticket.assistant_tutor_id, required=False) }}

{{ input('session_duration', title='Session Duration (Actual time spent with student in minutes)', type='number', min=0, value=ticket.session_duration) }}
{{ checkbox('was_successful', title='Was Successful', value=ticket.was_successful) }}

{% endblock %}

{% block submit %}
<button type="submit" class="btn btn-primary btn-block" id="claim" name="submit" value="claim">Claim</button>
<button type="submit" class="btn btn-primary btn-block" id="close" name="submit" value="close">Close</button>
{% endblock %}
